.container {
    display: flex;
    gap: 2rem;
    justify-content: center;

    & .task-wrapper {
        width: 15rem;
        display: flex;
        height: 15rem;
        background-color: #08b2d0;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}
