<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Página inicial</h1>
        <div class="link-wrapper">
            <a th:href="@{/custom-mvc/tasks}">Custom MVC</a>
            <a th:href="@{/tasks}">Spring MVC</a>
        </div>
    </div>
</body>
</html>