<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Tarefas</title>

    <style>
        table, td, th {
            border: 1px solid;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>Lista de tarefas</h1>
    <a th:href="@{/spring-mvc/create}">Criar</a>

    <table>
        <tr>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>Estado</th>
            <th>Opções</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.title}"></td>
            <td th:text="${task.description}"></td>
            <td th:text="${task.completed} ? 'Concluída' : 'Pendente'"></td>
            <td>
                <a th:href="@{'/spring-mvc/update'(id=${task.id})}">Editar</a>
                <a href="">Deletar</a>
            </td>
        </tr>
    </table>

</body>
</html>