<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pr-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" th:href="@{/css/tasks.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <h1>Lista de tarefas</h1>

    <div class="container">

        <div class="task-wrapper" th:each="task : ${tasks}">
            <div class="task-header">
                <div>
                    <span th:text="${task.title}"></span>
                    <a th:href="@{'/delete'(id=${task.id})}">
                        <img th:src="@{/images/delete-icon.png}" alt="">
                    </a>
                </div>
                <span th:text="${task.description}"></span>
            </div>

            <div class="task-footer">
                <span th:text="${task.completed} ? 'Concluída' : 'Pendente'"></span>
                <a th:href="@{'/update'(id=${task.id})}">
                    <img th:src="@{/images/update-icon.png}" alt="">
                </a>
            </div>
        </div>

        <div class="create-wrapper">
            <a th:href="@{/create}">
                <img th:src="@{/images/create-icon.png}" alt="">
                Adicionar Tarefa
            </a>
        </div>

    </div>

</body>
</html>